{% include /header-home.html %}

{% include /top-line.html %}


<div class="pattern pattern-cat-header">
    <div class="cat-header header-about" style="background-image: url(img/about_image.jpg)">
        <div class="cat-header-block">
            <h1>О сайте Best-manual.ru</h1>
        </div>
    </div>
</div>

<div class="artile-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <article class="main-article">
                    <div class="article-body">
                        <p>Данный сайт разработан для фиксации решений каких либо задач в разработке и не только. Мы постарались максимально просто и понятно расписать задачи возникающие в повседневной жизни!<br>
                            
                        </p>
                        <p>Если у Вас есть какие либо вопросы, пожелания, отзывы направляйте их на почтовый ящик <b>support@best-manual.ru</b>.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4">

{% include /main-aside.html %}

            </div>
        </div>
    </div>
</div>

{% include /footer.html %}